.event-btn {
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #34495E;
    color: white;
    border: none;
    transition: 0.25s;
}

.event-btn:hover {
    background-color: #2c3e50;
    transform: translateY(-1px);
}

/* Кнопка "Отмена" */
.event-btn.cancel-btn {
    background-color: #e74c3c;
}

.event-btn.cancel-btn:hover {
    background-color: #c0392b;
    transform: translateY(-1px);
}

/* Кнопка "Сохранить" */
#saveEvent {
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #34495E;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

#saveEvent:hover {
    background-color: #2c3e50;
    transform: translateY(-1px);
}
